.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 30px;
  background-color: white;

}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
  color: white;
}

#reset {
  visibility: visible;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp1827440.jpg");
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 20px;
  font-size: 40px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: lightgreen;
  font-size: 25px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}

.wrapper {
  margin: 10px auto;
  background-image: url(http://all4desktop.com/data_images/original/4236672-nba.jpg);
  border: 2px solid lightgreen;
  height: 500px;
  width: 60%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -150px;
  background-color: blueviolet
}